@charset "utf-8";

* {
    font-family: monospace;
}

body {
    background-color: grey;
}

header,
footer {
    background-color: lightyellow;
    position: static;
    border-radius: 100px;
   
}

#mainname {
    text-align: left;
    font-size: x-large;

}

.rightalign {
    text-align: right;
}


ul {
    padding: 30px;
    height: 100px;
}

li {
    display: inline;
    padding: 20px;
    font-size: large;
    
}

a:link {
    text-decoration: none;
    color: black;
}

section {
    background-color: lightyellow;
    border-radius: 100px;
    
}

h1 {
    text-align: center;
}

img {
    border-radius: 100px;
    display: inline-block;
    width: 300px;
    
}

h3 {
    text-align: center;
}
